<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Sign in</title>
</head>
<body>
  <%- include ('../partials/nav_home') %> 
    <!--Should be sign in page-->
    <div class="loginForm">
      <h1>Sign In</h1>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        
        <button type="submit" class="formBtn">Sign In</button>
      </form>
      <a href="/register">If you don't have an account sign up here!</a>
    </div>
    
</body>
</html>