<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Sign In</title>
</head>
<body>
   <nav> 
    <a href="/"><h1>Buy & Drive</h1></a>
   </nav>
   <div class="text">
    <!--Should be sign up page-->  
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"/>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email"/>
      <label for="password">Password</label>
      <input type="password" id="password" name="password"/>
      
      <button type="submit">Create account</button>
    </form> 
   </div> 
</body>
</html>