<nav>
  <div>
    <a id="homeLink" href="/"><h1>Buy & Drive</h1></a>
  </div>
  <div id="profileNav">
    <a href="/users/profile/">
    <div id="avatarLink">
      <img id="avatarImage" src="https://picsum.photos/200/?random=1"/>
        <p>Profile</p>
      </div>
    </a>
    <a href="/logout"><button>Sign Out</button></a>
  </div>
</nav>