  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Buy & Drive</title>
</head>
<body>
  <%- include('./partials/nav_home') %>
  <section class="hero">
    <h1 class="title">Find the perfect ride near you</h1>
    <h4 class="subtitle">search through a variety of cars listed by real people</h2>
    <button class="btn">Shop cars</button>
  </section>
  <section class="cars">
    <h1></h1>
    <div class="box">
      <img src="/images/chevycamaro.jpeg" alt="camaro" width="450" height="350">
      <div class="overlay">
        <div class="text">Chevy Camaro</div>
        <div class="horsepower">HP: 550</div>
        <div class="miles">Miles Driven: 14500</div>
      </div>
    </div>    
    <div class="box">
      <img src="/images/jeepwrangler.jpg" alt="camaro" width="450" height="350">
      <div class="overlay">
        <div class="text">Jeep Wrangler</div>
        <div class="horsepower">HP: 400</div>
        <div class="miles">Miles Driven: 545339</div>
      </div>
    </div>    
    <div class="box">
      <img src="/images/fordmustang.jpg" alt="mustang" width="450" height="350">
      <div class="overlay">
        <div class="text">Ford Mustang</div>
        <div class="horsepower">HP: 600</div>
        <div class="miles">Miles Driven: 53332</div>
      </div>
   </div>    
   <div class="box">
     <img src="/images/cadillacsuv.jpg" alt="cadillacsuv" width="450" height="350">
     <div class="overlay">
       <div class="text">Cadillac SUV</div>
       <div class="horsepower">HP: 350</div>
       <div class="miles">Miles Driven: 111290</div>
     </div>
   </div>    
   <div class="box">
     <img src="/images/porsche911.jpg" alt="porsche" width="450" height="350">
     <div class="overlay">
       <div class="text">Porsche 911</div>
       <div class="horsepower">HP: 800</div>
       <div class="miles">Miles Driven: 1245</div>
     </div>
   </div>   
   <div class="box"><img src="/images/hyundaiveloster.jpg" alt="hyundai" width="450" height="350">
     <div class="overlay">
       <div class="text">Veloster</div>
       <div class="horsepower">HP: 300</div>
       <div class="miles">Miles Driven: 334</div>
     </div>
   </div>  
  </section>  
  <section>
    <h2>Get the Actual Price for the Vehicle You Want</h2>
    <p>
      You get an upfront, personalized price from a dealer online, including manufacturer incentives and discounts. You know what you’ll pay for your new car before you head to the dealership.
    </p>
  </section>
</body>
</html>