  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Buy & Drive</title>
</head>
<body>
  <h1>Welcome to Buy & Drive</h1>
    <table>
      <tr>
        <td>Ford Mustang</td>
        <td>Chevy Camaro</td>
        <td>Jeep Wrangler</td>
      </tr>
      <tr>  
        <td>Porsche 911</td>
        <td>Cadillac SUV</td>
        <td>Hyundai Veloster</td>
      </tr>   
    </table>       
</body>
</html>