  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Buy & Drive</title>
</head>
<body>
  <div class="introduction">
    <h1>Welcome to Buy & Drive</h1>
      <div id="car selection">
        <ul>
          <li>Ford Mustang</li>
          <li>Chevy Camaro</li>
          <li>Jeep Wrangler</li>
          <li>Porsche 911</li>
          <li>Cadillac SUV</li>
          <li>Hyundai Veloster</li>
        </ul>
      </div>
  </div>        
</body>
</html>