  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Buy & Drive</title>
</head>
<body>
  <h1>Welcome to Buy & Drive</h1>
  <a href="/users"><button>Sign-In</button></a>
    <table align="center">
      <tr>
        <td>
          <div class="box"><img src="/images/chevycamaro.jpeg" alt="camaro" width="450" height="350">
            <div class="overlay">
              <div class="text">Chevy Camaro</div>
            </div>
          </div>    
        </td>
        <td>
          <div class="box"><img src="/images/jeepwrangler.jpg" alt="camaro" width="450" height="350">
            <div class="overlay">
              <div class="text">Jeep Wrangler</div>
            </div>
          </div>    
        </td>
        <td>
           <div class="box"><img src="/images/fordmustang.jpg" alt="mustang" width="450" height="350">
            <div class="overlay">
              <div class="text">Jeep Wrangler</div>
            </div>
          </div>    
        </td>
      </tr>
      <tr>  
        <td>
          <div class="box"><img src="/images/cadillacsuv.jpg" alt="cadillacsuv" width="450" height="350">
            <div class="overlay">
              <div class="text">Cadillac SUV</div>
            </div>
          </div>    
        </td>
        <td>
          <div class="box"><img src="/images/porsche911.jpg" alt="porsche" width="450" height="350">
            <div class="overlay">
              <div class="text">Porsche 911</div>
            </div>
          </div>   
        </td>
        <td>
          <div class="box"><img src="/images/hyundaiveloster.jpg" alt="hyundai" width="450" height="350">
            <div class="overlay">
              <div class="text">Hyundai Veloster</div>
            </div>
          </div>  
        </td>
      </tr>   
    </table>       
</body>
</html>