body {
  text-align: center;
  background-color: #7292E6;
}

h1 {
  font-family: 'Oleo Script', cursive;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

td {
  padding: 70px;
}
