body {
  text-align: center;
  background-color: #7292E6;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

td {
  padding: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}