* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Oleo Script', cursive;
  margin-top: 85px;
  font-size: 40px;
}

/* Nav section */

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

/* Hero section */
.hero {
  display: flex;
  justify-content: center;
}

/* cars section */

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.box {
  position: relative;
  margin: 8px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.horsepower {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.miles {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
