body {
  color: white;
  background-color: #353840;
  font-family: 'Oleo Script', cursive;
}

h1 {
  text-align: center;
  color: white;
  font-size: 35px;
}

#signout {
  position: relative;
  left: 1300px;
  bottom: 100px;
}

h2 {
  position: relative;
  left: 40px;
  bottom: 140px;
}