body {
  color: white;
  background-color: #353840;
  font-family: 'Oleo Script', cursive;
}

h1 {
  text-align: center;
  color: white;
  font-size: 35px;
}

#username {
  vertical-align: bottom;
}

#signout {
  position: relative;
  left: 1000px;
  bottom: 100px;
}

h2 {
  right: 1px;
  position: relative;
  bottom: 50px;
}
