<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Sign in</title>
</head>
<body>
  <nav>
    <a href="/"><h1>Buy & Drive</h1></a>
    <button>Sign in</button>
  </nav>
  <main>
    <!--Should be sign in page-->
    <h1>Sign In</h1>
    <form action="/users/show" method="POST">
      <label for="name">Username</label>
      <input type="text" id="name" name="name"/>
      <label for="email">email</label>
      <input type="text" id="email" name="email"/>
      
      <button type="submit">Sign In</button>
    </form>
    <a href="/users/signup">If you don't have an account sign up here!</a>
    
</body>
</html>