<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
</head>
<body>
  <nav>
  <h1>Buy & Drive</h1>
  <img src="https://picsum.photos/200/?random=1"/>
  <p>username</p>
  <button>Sign Out</button>
  </nav>
  <main>
    <h2>Profile</h2>
    <img src="https://picsum.photos/200/?random=1"/>
    <ul>
      <li>username</li>
      <li>email</li>
      <li>id</li>
      <button>Sell cars</button>
    </ul>

    <h3>cars</h3>
    <img src="https://picsum.photos/200/?random=2"/>
</main>
</body>
</html>