<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/profile.css">
   <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../partials/_nav') %>
  <main>
    <h2>Profile</h2>
    <img src="https://picsum.photos/200/?random=1"/>
    <ul>
      <li><%= user.username %></li>
      <li><%= user.email %></li>
    </ul>
    <a href="/cars">
      <button>View cars</button>
    </a>
  </main>
</body>
</html>