<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/profile.css">
   <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Profile Page</title>
</head>
<body>
    <a href="/"><h1>Buy & Drive</h1></a>
    <h2>Profile</h2>
    <p><%= user.name %></p>
    <a href="/users/"><button id="signout">Sign Out</button></a>
  <main>
    <img src="https://picsum.photos/200/?random=1"/>
    <ul>
      <li><%= user.name %></li>
      <li><%= user.email %></li>
    </ul>
    <a href="/cars">
      <button>Sell cars</button>
    </a>

    <h3>cars</h3>
    <button>Edit cars</button>
    <img src="https://picsum.photos/200/?random=2"/>
  </main>
</body>
</html>