<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Car list</title>
</head>
<body>
  <h1>Car's list</h1>

  <p><a href="/cars/new">Add Cars</a></p>

  <% if (cars.length) { %> 
    <% cars.forEach(car =>{ %> 
      <a href="/cars/<%= car._id  %>">
      <h4><%= car.make %></h4>
    </a>
    <% }) %> 
  <% } else { %> 
    <h4>No cars found</h4>
  <% } %> 

</body>
</html>