<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/newcars.css">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <title>Add Car</title>
</head>
<body>
  <%- include('../partials/_nav') %>
  <main>
    <h1>Add Car</h1>
    <form action="/cars" method="POST" enctype="multipart/form-data">
      <ul style="list-style: none;">
        <li><label for="make">Make</label></li>
        <li><input type="text" id="name" name="make"/></li>
        <li><label for="model">Model</label></li>
        <li><input type="text" id="name" name="model"/></li>
        <li><label for="milesDriven">Miles driven</label></li>
        <li><input type="number" id="milesDriven" name="milesDriven"/></li>
        <li><label for="mpg">MPG</label></li>
        <li><input type="number" id="mpg" name="mpg"/></li>
        <li><label for="proposedPrice">Proposed Price</label></li>
        <li><input type="number" id="proposedPrice" name="proposedPrice"/></li>
       </ul> 
      <input type="file" accept="image/*" name="img" id="img"></li>
      <button type="submit" value="upload">Add Car</button></li>
    </form>
    
 
    
</body>
</html>